* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =================================Home Page - Starts =====================================================*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/Assests/closeup-shot-sparks-flying-from-industrial-steel-cutter.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hero .navbar h1 {
    color: black;
}

.navbar {
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A2D2FA;
    z-index: 3;
}

.content1 {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.navbar h1 {
    /* margin-left: 200px; */
}

.navbar ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    margin-left: 50px;
    cursor: pointer;
    font-weight: 500;
    opacity: 80%;
}

.navbar ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #05445E;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #05445E;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Dropdown menu - Starts */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 93px;
    height: 0;
    width: 300px;
    background: rgba(5, 68, 94, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 3;
}

.dropdown-menu.open {
    height: 240px;
}

.dropdown-menu li {
    list-style: none;
    padding: 0.7rem;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.dropdown-menu li a {
    text-decoration: none;
    color: white;
}

/* Dropdown menu - Ends */


/* Glow effect - Starts */

.glow {
    font-size: 80px;
    color: #05445E;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #A2D2FA, 0 0 40px #A2D2FA, 0 0 50px #A2D2FA, 0 0 60px #A2D2FA, 0 0 70px #A2D2FA;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #A2D2FA, 0 0 40px #A2D2FA, 0 0 50px #A2D2FA, 0 0 60px #A2D2FA, 0 0 70px #A2D2FA, 0 0 80px #A2D2FA;
    }
} */

/* Glow effect - Ends
/* home page button-starts */
.content1 a {
    text-decoration: none;
}

.btn1 {
    /* margin-left: 360px; */
    margin-top: 150px;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

.btn1:active {
    scale: 0.92;
}

.btn1:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

/* Home page button-ends */


.hero .content1 h1 {
    font-size: 80px;
    margin: 10px 0 30px;
}

.hero .content1 p {
    text-align: center;
}

.hero .content1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    .hero {
        height: 100vh;
    }

    .hero .content1 h1 {
        font-size: 60px;
        line-height: 80px;
        text-align: center;
    }

    .hero .content1 p {
        margin-top: 50px;
    }

    .hero .navbar h1 {
        color: black;
        font-size: 30px;
    }
}


/* Toggle button - Responsive  */

@media(max-width:1350px) {
    .hero {
    height: 100vh;
    }
    .hero .content1 h1 {
        font-size: 60px;
    }

    .navbar ul li {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media(max-width:576px) {
    .dropdown-menu {
        left: 2rem;  
        width: unset;
    }
}

/* =================================Home Page - End=====================================================*/


/* =================================About Page - Start =====================================================*/

.aboutpage {
    /* background-color: red; */
}

.aboutpage .about {
    width: 1500px;
    height: 600px;
    /* background-color: lightblue;   */
}

.about h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

.about p {
    text-align: justify;
    font-size: 1.5rem;
    margin-top: 80px;
    font-weight: 600;
}

.about #p2 {
    margin-top: 40px;
}

.about #p3 {
    margin-top: 40px;
}



@media screen and (max-width: 1599px) {
    .aboutpage .about {
        width: 1000px;
        height: 1000px;
        /* background-color: lightblue;  */
        margin-top: 200px;
    }

    .about p {
        text-align: justify;
        font-size: 1.3rem;
        margin-top: 90px;
        font-weight: 500;
    }

}

@media screen and (max-width: 1100px) {

    
    .aboutpage .about {
        width: 900px;
        height: 800px;
        /* background-color: lightblue;  */
        margin-top: 200px;
    }

    .about p {
        text-align: justify;
        font-size: 1.2rem;
        margin-top: 90px;
        font-weight: 500;
    }

}

@media screen and (max-width: 1000px) {
    .aboutpage .about {
        width: 550px;
        height: 900px;
        /* background-color: lightblue;  */
        margin-top: 200px;
    }

    .about p {
        text-align: justify;
        font-size: 1.1rem;
        margin-top: 90px;
        font-weight: 500;
    }

    .about #p2 {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .aboutpage .about {
        width: 350px;
        height: 800px;
        /* background-color: lightblue;  */
        /* margin-top: 180px; */
    }

    .about p {
        text-align: center;
        font-size: 1rem;
        margin-top: 30px;
        font-weight: 400;
    }

    #p2 {
        display: none;
    }
}




/* =================================About Page - End =====================================================*/

/* =================================Why Us Page - Start =====================================================*/

.whyus {
    /* background-color: pink; */
}
.mainbx {
    height: 650px;
    width: 1300px;
    /* background-color: purple; */
    display: flex;
    justify-content: space-between;
}

.why {
    background-image: url(/Assests/Gopi\ Industries\ \(2\).png);
    width: 500px;
    height: 500px;
    margin-top: 80px;
    border-radius: 20px;
    border: 2px lightcyan solid;
    box-shadow: 0px 10px 20px 2px rgba(92, 225, 230, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.us {
    width: 470px;
    height: 650px;
    /* background-color: red; */
}

.us .content {
    /* background-color: green; */
    width: 500px;
    height: 130px;
    margin-top: 30px;
    /* margin-left: 30px; */

}

.us .content:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(92, 225, 230, 1);
    border-radius: 2px;
}

.us .content .main {
    width: 445px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.us .content .photu {
    height: 100px;
    width: 100px;
    /* background-color: bisque; */
}

.us .content .sbox {
    height: 100px;
    width: 285px;
    margin-top: 15px;
    margin-left: 50px;
    /* background-color: blue; */
    /* flex-grow: 1; */
}

.us .content .tbox {
    height: 35px;
    width: 100%;
    /* background-color: brown;    */
}

.us .content .tbox .hh1 {
    text-align: center;
    font-weight: 600;
}

.us .content .fbox {
    height: 20px;
    width: 100%;
    /* background-color: aqua; */

}

.us .content .fbox .lines {
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}

.us .content img {
    margin-top: 10px;
    height: 110px;
    width: 110px;
}


/* .whyus .main {
    transform: translateX(-100%);
}

.whyus.show-animate .main {
    transform: translateX(0);
}

section .main {
    transition: 1s;
} */


@media screen and (max-width: 1400px) {
    .mainbx {
        /* background-color: purple; */
        overflow: hidden;
    }

    .why {
        height: 400px;
        width: 400px;
        margin: auto;
        justify-content: center;
        margin-top: 100px;
        /* left: 18%; */

    }

    .us {
        width: 450px;
        height: 470px;
        /* background-color: red; */
        justify-content: center;
        margin: auto;
        margin-top: 80px;

    }

    .us .content {
        /* background-color: green; */
        width: 450px;
        height: 100px;
        margin-top: 10px;
        margin-left: 0;
    }

    .us .content .main {
        width: 450px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        overflow: hidden;
    }

    .us .content .fbox {
        height: 40px;
        margin: 0;
    }
    .us .content .photu {
        height: 90px;
        width: 90px;
        margin: 0;
        /* background-color: bisque; */
    }

    .us .content .photu img {
        height: 90px;
        width: 90px;
        margin: 0;
        /* background-color: bisque; */
    }

    .us .content .sbox {
        height: 100px;
        width: 310px;
        margin: 0;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .us .content .fbox .lines {
        height: 40px;
        width: 310px;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        margin-top: 0;
    }

    .tbox .hh1 {
        width: 310px;
        align-items: center;
        text-align: center;
        margin-top: 0;
        font-size: 25px;
    }
}

@media screen and (max-width: 948px) {
    .mainbx {
        height: 130vh;
        width: 600px;
        /* background-color: purple; */
        display: block;
        overflow: hidden;
    }

    .why {
        height: 300px;
        width: 300px;
        margin: auto;
        justify-content: center;
        /* left: 18%; */

    }

    .us {
        width: 350px;
        height: 480px;
        /* background-color: red; */
        justify-content: center;
        margin: auto;
        margin-top: 80px;

    }

    .us .content {
        /* background-color: green; */
        width: 400px;
        height: 100px;
        margin-top: 10px;
        margin-left: 0;
    }

    .us .content .main {
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        overflow: hidden;
    }

    .us .content .fbox {
        margin: auto;
    }
    .us .content .photu {
        height: 90px;
        width: 90px;
        margin: 0;
        /* background-color: bisque; */
    }

    .us .content .photu img {
        height: 90px;
        width: 90px;
        margin: 0;
        /* background-color: bisque; */
    }

    .us .content .sbox {
        height: 80px;
        width: 310px;
        margin: 0;
        overflow: hidden;
        text-align: center;
    }

    .us .content .fbox .lines {
        height: 40px;
        width: 250px;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }

    .tbox .hh1 {
        width: 250px;
        align-items: center;
        text-align: center;
        margin-top: 0;
        font-size: 20px;
    }
}

@media screen and (max-width:600px){
    .mainbx {
        margin-top: 300px;
    }
}

@media screen and (max-width:400px){
    .us {
        margin-top: 50px;
    }
}


/* @keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
} */

/* .main {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
} */




/* =================================Why Us Page - End =====================================================*/


/* =================================Services Page - start =====================================================*/ 


.servicepage {
    /* background-color: hotpink; */
}

.servicepage .mainbox {
    height: 600px;
    width: 1200px;
    margin-top: 50px;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicestitle {
    height: 80px;
    width: 100%;
    /* background-color: aqua; */
}

.servicepage .mainbox .servicestitle h1 {
    text-align: center;
    font-size: 4rem;
}

.servicepage .mainbox .servicesbox {
    display: flex;
    margin-left: 0;
}

.lesar {
    height: 500px;
    width: 400px;
    /* background-color: peru; */
}

.bending {
    height: 500px;
    width: 400px;
    /* background-color: purple; */
    /* margin-left: 200px; */
}

.transport {
    height: 500px;
    width: 400px;
    /* background-color: pink; */
    /* margin-left: 200px; */
}

.servicepage .mainbox .servicesbox .blackbor {
    height: 200px;
    width: 200px;
    /* background-color: red; */
    margin-top: 90px;
    margin-left: 98px;
    border: 10px solid black;   
    border-radius: 20px;
}

.servicepage .mainbox .servicesbox .disc {
    height: 210px;
    width: 400px;
    /* background-color: yellow; */
    margin-left: 10px;
}

.servicepage .mainbox .servicesbox .blackbor #one {
    width: 160px;
    height: 160px;
    margin-left: 19.5px;
    margin-top: 22px;
}

.servicepage .mainbox .servicesbox .blackbor #two {
    width: 145px;
    height: 145px;
    margin-left: 27px;
    margin-top: 22px;
}

.servicepage .mainbox .servicesbox .blackbor #three {
    width: 190px;
    height: 150px;
    margin-left: 5px;
    margin-top: 30px;
}

.servicepage .mainbox .servicesbox .disc h2 {
    text-align: center;
    font-size: 1.9rem;
    margin-top: 20px;
}

.servicepage .mainbox .servicesbox .disc p {
    margin-top: 30px;
    text-align: center;
}


@media screen and (max-width: 1180px) {

    .servicepage {
        height: 110%;
    }

    .servicepage .mainbox {
        height: 100%;
        width: 500px;
        margin: 0;
        overflow: hidden;
    }

    .servicesbox {
        height: 1000px;
        width: 300px;
        display: block;
        flex-direction: column;
        /* background-color: red; */
        overflow: hidden;
        margin-left: 65px;
    }

    .servicepage .mainbox .servicestitle h1 {
        text-align: center;
        font-size: 2.3rem;
    }

    .lesar,
    .bending,
    .transport {
        /* background-color: pink; */
        width: 300px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-left: 70px; */
    }

    .servicepage .mainbox .servicesbox .blackbor {
        height: 130px;
        width: 130px;
        /* background-color: red; */
        margin: 0;
        border: 8px solid black;   
        border-radius: 20px;
    }

    .servicepage .mainbox .servicesbox .blackbor #one {
        width: 110px;
        height: 110px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        margin-top: 10px;
    }
    
    .servicepage .mainbox .servicesbox .blackbor #two {
        width: 95px;
        height: 95px;
        margin: 0;
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .servicepage .mainbox .servicesbox .blackbor #three {
        width: 130px;
        height: 100px;
        margin: 0;
        margin-top: 15px;
    }

    .servicepage .mainbox .servicesbox .disc {
        height: 90px;
        width: 300px;
        margin: 0;
        /* background-color: yellow; */
    }

    .servicepage .mainbox .servicesbox .disc h2 {
        text-align: center;
        font-size: 1.7rem;
        margin-top: 10px;
    }
    
    .servicepage .mainbox .servicesbox .disc p {
        margin-top: 0;
        text-align: center;
    }
}

@media screen and (max-width:600px){
    .servicepage {
        height: 1100px;
    }

    .servicepage .mainbox {
        margin-top: 400px;
    }
}


@media screen and (max-width: 410px) {

    .servicepage .mainbox {
        height: 100vh;
        width: 500px;
        margin: 0;
        overflow: hidden;
    }

    .servicesbox {
        width: 300px;
        display: block;
        flex-direction: column;
        /* background-color: red; */
        overflow: hidden;
        margin-left: 45px;
    }

    .mainbox {
        height: 100vh;
    }

    .servicestitle {
        height: 60px;
    }

    .servicepage .mainbox .servicestitle h1 {
        text-align: center;
        font-size: 2rem;
        margin-top: 20px;
    }

    .lesar,
    .bending,
    .transport {
        /* background-color: pink; */
        width: 300px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-left: 70px; */
    }

    .servicepage .mainbox .servicesbox .blackbor {
        height: 100px;
        width: 100px;
        /* background-color: red; */
        margin: 0;
        border: 8px solid black;   
        border-radius: 20px;
    }

    .servicepage .mainbox .servicesbox .blackbor #one {
        width: 90px;
        height: 90px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7px;
        margin-top: 6px;
    }
    
    .servicepage .mainbox .servicesbox .blackbor #two {
        width: 75px;
        height: 75px;
        margin: 0;
        margin-left: 14px;
        margin-top: 15px;
    }
    
    .servicepage .mainbox .servicesbox .blackbor #three {
        width: 100px;
        height: 70px;
        margin: 0;
        margin-top: 15px;
    }

    .servicepage .mainbox .servicesbox .disc {
        height: 90px;
        width: 300px;
        margin: 0;
        /* background-color: yellow; */
    }

    .servicepage .mainbox .servicesbox .disc h2 {
        text-align: center;
        font-size: 1.7rem;
        margin-top: 10px;
    }
    
    .servicepage .mainbox .servicesbox .disc p {
        margin-top: 10px;
        text-align: center;
    }

}


/* =================================Services Page - End =====================================================*/ 


/* =================================Machine Page - start =====================================================*/ 


.products {
    /* background-color: lightpink; */
}

.products .mainboxproducts {
    height: 700px;
    width: 1400px;
    /* background-color: red; */
    /* display: flex; */
    margin-top: 50px;
}

/* .products .mainboxproducts:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(92, 225, 230, 1);
    border-radius: 2px;
} */

.products .mainboxproducts .machinetitile {
    height: 100px;
    width: 100%;
    /* background-color: #25d366; */
}

.products .mainboxproducts .machinetitile h1 {
    text-align: center;
    font-size: 4rem;
}

.products .mainboxproducts .twoboxes {
    display: flex;
    justify-content: space-between;
}

.products .mainboxproducts .left {
    height: 500px;
    width: 600px;
    /* background-color: blue; */
    margin-top: 100px;
}

.products .mainboxproducts .left img {
    height: 500px;
    width: 100%;
}

.products .mainboxproducts .right {
    height: 500px;
    width: 600px;
    /* background-color: green; */
    margin-top: 100px;
    text-align: center;
}

.products .mainboxproducts .right h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #0CC0DF;
}

.products .mainboxproducts .right p {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 50px;
}


@media screen and (max-width:1500px) {
    .products {
        overflow: hidden;
    }

    .products .mainboxproducts {
        height: 700px;
        width: 1250px;
    }

    .products .mainboxproducts .left img {
        height: 450px;
        width: 550px;
    }
}

@media screen and (max-width:1300px) {
    .products .mainboxproducts {
        height: 700px;
        width: 1250px;
    }

    .products .mainboxproducts .left img {
        height: 450px;
        width: 550px;
        margin-left: 110px;
    }

    .products .mainboxproducts .right p {
        width: 400px;
        height: 150px;
        text-align: justify;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 50px;
        margin-left: 110px;
    }
}


@media screen and (max-width:1262px) {

    .mainboxproducts {
        width: 393px;
        height: 100vh;
        display: block;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        overflow: hidden;
    }

    .products .mainboxproducts .twoboxes {
        height: 553px;
        width: 393;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        /* background-color: red; */
    }

    .products .mainboxproducts .left {
        height: 300px;
        width: 393px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .products .mainboxproducts .left img {
        height: 300px;
        width: 350px;
        align-items: center;
        margin-left: 0;
    }

    .products .mainboxproducts .right {
        height: 300px;
        width: 393px;
        /* background-color: green; */
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 0;
    }

    .products .mainboxproducts .machinetitile {
        height: 100px;
        /* width: 600px; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;

        /* background-color: #25d366; */
    }

    .products .mainboxproducts .machinetitile h1 {
        width: 600px;
        text-align: center;
        font-size: 2rem;
        margin-left: 0px;
    }
    

    .products .mainboxproducts .right h2 {
        width: 393px;
    }

    .products .mainboxproducts .right p {
        width: 353px;
        text-align: justify;
        margin-left: 0;
        font-size: 1rem;
    }
}



/* =================================Machine Page - End =====================================================*/ 


/* =================================Machine Page 2 - Start =====================================================*/ 
.products2 .mainboxproducts2 {
    height: 600px;
    width: 1400px;
    /* background-color: red; */
    margin-top: 50px;
}

.products2 .mainboxproducts2 .twoboxes2 {
    display: flex;
    justify-content: space-between;
}

.products2 .mainboxproducts2 .left2 {
    height: 400px;
    width: 600px;
    /* background-color: blue; */
    text-align: justify;
    line-height: 25px;
    margin-top: 60px;
    font-size: 20px;
}

.products2 .mainboxproducts2 .left2 h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #0CC0DF;
    margin-bottom: 40px;
    /* margin-bottom: 40px; */
}


.products2 .mainboxproducts2 .left2 ul li {
    font-weight: 500;
    text-align: justify;
}

.products2 .mainboxproducts2 .right2 {
    height: 500px;
    width: 600px;
    /* background-color: yellow; */
}

.products2 .mainboxproducts2 .twoboxes2 .right2 img {
    height: 500px;
    width: 100%;
}


@media screen and (max-width: 1440px) {
    .products2 .mainboxproducts2 {
        height: 600px;
        width: 1200px;
    }

    .products2 .mainboxproducts2 .right2 {
        height: 400px;
        width: 500px;
        margin-top: 50px;
    }

    .products2 .mainboxproducts2 .twoboxes2 .right2 img {
        height: 400px;
        width: 500px;
    }
}

@media screen and (max-width: 1262px) {
    .products2 {
        overflow: hidden;
    }

    .products2 .mainboxproducts2 {
        height: 100vh;
        overflow: hidden;
    }

    .products2 .mainboxproducts2 .twoboxes2 {
        height: 752px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .products2 .mainboxproducts2 .left2 {
        height: 450px;
        width:600px;
        /* background-color: blue; */
        text-align: justify;
        line-height: 25px;
        margin-top: 30px;
    }

    .products2 .mainboxproducts2 .left2 h2 {
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .products2 .mainboxproducts2 .right2 {
        height: 270px;
        width: 300px;
        /* background-color: yellow; */
        margin-top: 50px;
    }

    .products2 .mainboxproducts2 .twoboxes2 .right2 img {
        height: 270px;
        width: 300px;

    }

    .products2 .mainboxproducts2 .left2 {
        line-height: 25px;
        font-size: 18px;
    }

    .products2 .mainboxproducts2 .twoboxes2 .left2 ul li {
        font-size: 18px;
    }

}

@media screen and (max-width: 600px) {
    .products2 {
        overflow: hidden;
    }

    .products2 .mainboxproducts2 {
        height: 100vh;
        overflow: hidden;
    }

    .products2 .mainboxproducts2 .twoboxes2 {
        height: 752px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .products2 .mainboxproducts2 .left2 {
        height: 450px;
        width: 300px;
        /* background-color: blue; */
        text-align: justify;
        margin-top: 50px;
        line-height: 18px;
        font-size: 14px;
    }

    .products2 .mainboxproducts2 .left2 h2 {
        font-weight: 600;
        text-align: center;
        line-height: 35px;
        margin-bottom: 60px;
    }

    .products2 .mainboxproducts2 .right2 {
        height: 270px;
        width: 300px;
        /* background-color: yellow; */
        margin-top: 0;
    }

    .products2 .mainboxproducts2 .twoboxes2 .right2 img {
        height: 270px;
        width: 300px;
    }
    

    .products2 .mainboxproducts2 .twoboxes2 .left2 ul li {
        font-size: 18px;
    }

}

@media screen and (max-width: 400px) {


    .products2 .mainboxproducts2 .left2 {
        width: 280px;
        margin-top: 30px;
    }

    .products2 .mainboxproducts2 .left2 h2 {
        margin-bottom: 40px;
    }

    .products2 .mainboxproducts2 .left2 {
        line-height: 18px;
        font-size: 13px;
    }

}

/* =================================Machine Page 2 - End =====================================================*/ 


/* right corner buttons - Starts */

.gototopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #05445E;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center; 
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 50%;

}

.wpbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 100px;
    right: 50px;

    text-decoration: none;
    text-align: center; 
    line-height: 50px;
    color: white;
    font-size: 30px;
    border-radius: 50%;
}

/* right corner buttons - Ends */
